body {
    font: 18px Montserrat, sans-serif;
    line-height: 1.5;
    color: black;
    position: relative;
}

p {
    font-size: 16px;
}

a {
    color: #24408F;
}
/*
footer {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
 */

#content {
    padding-top: 20px;
    /*margin-bottom: 25px;*/
    background-color: #f2f2f2;
    color: black;
}

.card {
    margin-bottom: 1rem;
}

.card-header {
    font-weight: bold;
    background-color: #343a40 !important;
    color: white !important;
}

.card-title {
    font-weight: bold;
}

.card-link{
    font-size:1rem;
}
.shadow {
    box-shadow: -11.31px 11.31px 25px 0px rgba(0,0,0,0.23);
}

li > p {
    font-size: 1rem;
    margin-bottom:0;
}

li > ul {
    font-size: 0.8rem;
}

.skill {
    margin-bottom: 0 !important;
}

.icon-resume{
	width: 100%;
	max-width: 120px;
}
.separator {
    box-sizing: border-box;
    border-bottom: 2px solid #24408F;
    transform-origin: center 1px;
    width: 50px;
    height: 5px;
}

.progress{
    margin-bottom: 5px;
    height: 30px;
    background-color: #777;
}

.scrollContainer {
    height: 2500px;
    overflow-y: scroll;
    position: relative;
}

.affix {
    top: 20px;
}

.footer {
    /*  position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2f2f2f; /* Black Gray */
    color: white;
    text-align: left;
    font-size: 12px;
    letter-spacing: 2px;
}


.margin {
    margin-bottom: 45px;
}


.font_0 {
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 100px;
    line-height: 1em;
    font-family: Montserrat, sans-serif;
	overflow-wrap: normal;
}

.font_3 {
    color: #000000;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 27px;
    line-height: 1.4em;
    font-family: Montserrat, sans-serif;
}

.font_5 {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 25px;
    line-height: 1.4em;
    font-family: Montserrat, sans-serif;
}

.font_8 {
    color: #000000;
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
    font-size: 17px;
    line-height: 1.4em;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2px;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-text{
    font-size:initial;
}